<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.tec.dslunittests.UnitTests"
            id="com.tec.dslunittests.UnitTests"
            name="Unit Tests"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <menu
               id="unitTestMenu"
               label="Unit test">
            <command
                  commandId="com.tec.dslunittests.commands.ShowUT"
                  label="Show package unit tests"
                  style="push"
                  tooltip="Show available unit tests for package">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:#AbstractTextEditorContext">
         <menu
               id="classUTMenu"
               label="Unit tests"
               tooltip="Shows list of available unit tests">
            <command
                  commandId="com.tec.dslunittests.commands.classScope"
                  label="See class unit test"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.tec.dslunittests.commands.classScopeHandler"
            id="com.tec.dslunittests.commands.classScope"
            name="ClassScope">
      </command>
      <command
            defaultHandler="com.tec.dslunittests.commands.ShowUTHandler"
            id="com.tec.dslunittests.commands.ShowUT"
            name="ShowUT">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
   </extension>

</plugin>
